:root {

    --background-color: #fffffff6;
    --code-background: #fffffff6;
    --menu-background: #fffffff6;
    --fragment-color: #fffffff6;
    --top-background: #fffffff6;
    --button-color: #fff;
    --button-text-color: #3d3d3d;
    --border-color: black;
    --tab-text-color: #2c5777;
    --top-height: 30px;
    --tabs-height: 30vh;
    --editor-height: calc(100vh - var(--top-height) - var(--tabs-height));
    --fragment-height: calc(100vh - var(--top-height) - var(--tabs-height));
    --width-chooser: 257px;
    --width-program: calc(50% - var(--width-chooser) / 2);
    --width-fragment: calc(100% - var(--width-program) - var(--width-chooser));
    --width-tabs: calc(100% - var(--width-chooser));

    --burger-display: block;
    --burger2-display: none;

    --font: monospace;
}

* {
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    resize: both;
    background: var(--background-color);
    font-family: var(--font);
}

.html {
    display: block;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.wrapper {
    display: block;
}

/* TOP */
.top-wrapper {
    padding-top: 0px;
    font-size: 0;
    display: flex;
    background: var(--top-background);
    width: 100%;
    height: var(--top-height);
    border-bottom: 1px solid var(--border-color);
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: var(--font);
    font-size: 10px;
    color: var(--button-text-color);
    background: var(--button-color);
    display: var(--burger-display);
    border-left: 1px solid var(--border-color);
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}



.button:hover,
.button:focus {
    color: #2c5777;
}

.button:active {
    background-color: #cee8fc;
    color: #2c5777;
}




/* FILE(MID LEFT) */
.file-chooser-wrapper {
    float: left;
    width: calc(var(--width-chooser));
    height: calc(100vh - var(--top-height));
    background: var(--background-color);
    border-right: 1px solid var(--border-color);
    display: var(--burger-display);
    color: var(--button-text-color);
}

@media only screen and (max-width: 600px) {
    :root {
        --width-chooser: 0px;
        --editor-height: calc((100vh - var(--top-height) - var(--tabs-height)) / 2);
        --fragment-height: calc((100vh - var(--top-height) - var(--tabs-height)) / 2);
        --width-program: calc(100% - var(--width-chooser));
        --width-fragment: calc(100% - var(--width-chooser));

        --burger-display: none;
        --burger2-display: block;
    }
    .program-text-wrapper {
        border-bottom: 1px solid var(--border-color);
    }
}
  
#burger2 {

    display: var(--burger2-display);
}

.chooser-top-wrapper {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--border-color);
}

#btn-upload {
    font-size: medium;
    vertical-align: middle;
    display: inline;
    height: 100%;
    width: 100%;
}
#select-folder {
    height: 30px;
    width: 100%;

}
#select-text {
    width: 100%;
    height: 30px;
    border: 2px solid rgb(10, 107, 119);
    border-radius: 4px;
}

.file-tree{
  /* padding-top: 5px; */
}

.folder {
    display: flex;
  width: 100%;
  height: 15px;
  background-color: #a0bed5;
  color: #E9E8AA;
}

.folder-options {
    display: flex;
    width: 95px;
    background-color: black;
    /* text-align: right; */
    
}

.file{
    background-color: #def8c6f6;
    display: flex;
  width: 100%;
  height: 15px;
}

.file-options {
    display: flex;
    width: 35px;
    align-self:flex-end;
 
    /* text-align: right; */
}


/* CODE (MID CENTER) */

.program-text-wrapper {
    flex-wrap: wrap;
    white-space: pre-wrap;
    display: flex;
    float: left;
    width: var(--width-program);
    height: calc(var(--editor-height));
    font-family: var(--font);
    padding-left: 2rem;
    padding-top: 1rem;
    overflow-x: auto;
    background: var(--code-background);
    border-right: 1px solid var(--border-color);
}
.folder-text {
     width: calc(100% - 50px); 
}
#folder-options-1 {
    width: 25px;
}
#folder-text-1 {
    width: calc(100% - 25px);
}
.editor {
    font-family: var(--font);
    font-size: 12px;
    width: 100%;
    height: 100%;

}

#code {
    width: 100%;
    color: var(--button-text-color);
    font-family: var(--font);
    font-size: 12px;
    white-space: pre-wrap;

}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 0px;

}

.toolbar button {
    margin-left: 10px;
}

.code-area {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

.code-area textarea {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    background: var(--background-color);
    font-size: 12px;
    font-family: var(--font);
}

/* FRAGMENT(MID RIGHT) */
.fragment-wrapper {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: var(--width-fragment);
    height: calc(var(--fragment-height));
    background: var(--fragment-color);
    font-family: var(--font);
    padding-left: 2rem;
    padding-top: 1rem;
    color: var(--button-text-color);
    overflow: auto;

}
.code_line {
    padding: 1px;
    /* flex: 1; */
    /* background-color: #ea7d93; */
    /* width: 1000px; */

}
.fragment_code_line {
    padding: 1px;

    /* background-color: #ea7d93; */
    /* width: 1000px; */

}

/* TABS (BOTTOM) */
.tabs-wrapper {
    width: calc(100% - var(--width-chooser));
    height: var(--tabs-height);
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--border-color);

}

.tabs__label {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    font-family: var(--font);
    color: var(--button-text-color);
    cursor: pointer;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--background-color);
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    display: flex;
    width: 100%;
    height: calc(100% - 40px);
    padding: 1rem;
    line-height: 1.5;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    font-size: 14px;
    color: var(--button-text-color);
    display: none;
    vertical-align: top;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
}
.tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: var(--tab-text-color);
    background: #cee8fc;
    border-bottom: 2px solid var(--tab-text-color);
}


