coverage/* linguist-detectable=false
manage.py/* linguist-detectable=false
static/* linguist-detectable=false
database.sqlite3/* linguist-detectable=false
htmlcov/* linguist-detectable=false
polls/* linguist-detectable=false

